# Dependencies
node_modules/
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env

# Next.js
.next/
out/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.egg-info/

landingleyia/

assets/bankpro1.mp4
